RewriteEngine on
RewriteCond %{REQUEST_URI} ^lifestories\.fun$
RewriteCond %{QUERY_STRING} fbclid=
RewriteRule ^(.*)$ "https\:\/\/animalstoriesplus\.com\/$1" [R=301,L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
