
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]

RewriteCond %{HTTP_HOST} ^lifestories.fun [NC,OR]
RewriteCond %{HTTP_HOST} ^www.lifestories.fun [NC]
RewriteRule ^(.*)$ https://animalstoriesplus.com/$1 [L,R=301,NC]
